@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

        .tiny5-regular {
            font-family: "Tiny5", sans-serif;
            font-weight: 400;
            font-style: normal;
        }


        body {
            background-color: black;
            background-image: url("grid.png");
            background-size: cover;
            font-family: "Tiny5", monospace, Arial, Helvetica, sans-serif;
            transition: all 0.3s ease-in-out;
        }

        h1 {
            color: white;
        }

        nav {
            background-color: #000000;
            border: 5px solid white;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: space-between;
        }

        nav a {
            color: #FFFFFF
        }

        a {
            color: #120a05;
        }

        article {
            background-color: #000000;
            color: white;
            border: 5px solid white;
            padding: 0px 10px;
            display: flex;
        }

        article a {
            color: white;
        }

        #firstArticle {
            background-color: transparent;
            padding: 5px;
        }

        .empWord {
            font-weight: bold;
            color: #8f6660;
        }

        .orangeButton {
            background-color: #000000;
            color: #FCA600;
            border: 5px solid #FCA600;
            padding: 10px 20px;
            font-size: 1.2em;
            cursor: pointer;
            font-family: "Tiny5", sans-serif;
            transform: scale(1);
        }

        .orangeButton:hover {
            transform: scale(0.95);
        }

        #ormaImage {
            image-rendering: pixelated;
        }